# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# project-specific
temp
build

# OS and IDE
.emacs*
.c9
*.flymake
*~
.#*
.idea
*.sublime-*

# bower
bower_components

# npm
node_modules
npm-debug.log

# grunt & gulp
.grunt
.gulp

# gradle
.gradle
.htaccess
